<script>
	var topic_id = '{{topic_id}}';
	var getMessageHTML = function (side, text){
		return '<li class="message '+side+' appeared"><div class="avatar"></div><div class="text_wrapper"><div class="text">'+text+'</div></div></li>';
	};
	$("#chat_window").hide();
	var socket = new WebSocket('ws://' + window.location.host + '/users/');
	var addMessage = function(side, content){
		$(".messages").append(getMessageHTML(side, content))
		$(".messages").scrollTop($(".messages").children().height());
	};
	var sendMessage = function (){
		var text = $(".message_input").val();
		if (text != ''){
			socket.send(JSON.stringify({'text':text, 'topic_id':topic_id}));
		}
		addMessage('left',text)
	};
	

	socket.onopen = function open() {
		console.log('WebSockets connection created.');
		$("#chat_window").show();
		socket.onmessage = function (evt) 
		{ 		
			addMessage('right', evt.data)
		};
		$(".send_message").on('click',sendMessage);
		$(".message_input").on('keyup', function (e) {
			if (e.keyCode == 13) {
				sendMessage();
			}
		});
	};
	$(".button.closee").hover(function(){
		addMessage('right', 'Click this to close.')
	});
	$(".button.minimize").hover(function(){
		addMessage('right', 'Click this to minimize.')
	});
	$(".button.maximize").hover(function(){
		addMessage('right', 'Click this to maximize.')
	});
	$(".button.closee").on('click', function(){
		$("#chat_window").hide();
	});
	var messages, bottom_wrapper;
	$(".button.maximize").on('click', function(){
		messages.appendTo("#chat_window");
		bottom_wrapper.appendTo("#chat_window");		
	});
	$(".button.minimize").on('click', function(){
		messages = $(".messages").detach();
		bottom_wrapper = $(".bottom_wrapper").detach();
	});
</script>