{% extends 'bot/_base.html' %}

{% block content %}{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
      socket.onmessage =    function (evt) 
               { 
                  var received_msg = evt.data;
                  console.log(received_msg)
               };
      socket.send('fdsfdsfds');
    };
    // console.log(socket.readyState);
    // console.log(WebSocket.OPEN);
    // if (socket.readyState == WebSocket.OPEN) {
    //   console.log('opennnn');      
    //   socket.onopen();      
    // }  	
  </script>
{% endblock script %}