<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  {% block styles %}{% endblock styles %}
  <style type="text/css">
    .description {
      width: 100%;
      padding: 10px 20px 10px 20px;
    }
  </style>
  <title>Example Channels</title>
</head>
<body>
{% include 'mooc/navbar.html' %} 

  
    {% block content %}{% endblock content %}

  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  {% block script %}{% endblock script %}
</body>
</html>