{% extends 'mooc/_base.html' %}
{% block styles %}
<style type="text/css">
    .description {
      width: 60%;
      padding: 10px 20px 10px 20px;
    }
  </style>
{% endblock styles %}
{% block content %}
<div class="description">
	<h1>Chatbot Assisted Information Website</h1>      
	<p>We have created this application <i>CelebBio</i> as model for a chatbot assisted information website or online encyclopedia's. Users won't need to read through the text again for answers if they ever need to, they can just ask the bot.</p>
	<p>Find specific topics from the search bar and ask the bot.</p>
</div> 
<div class="container">
	
</div>
{% endblock content %}
{% block script %}
{% include 'bot/scripts.html' %}
{% endblock script %}
