{% extends 'mooc/_base.html' %}
{% block styles %}
{% load staticfiles %}

<style type="text/css">
	#chatbox {
		width: 380px;
		height:300px;
		position: fixed;
		top:auto;
		bottom:0px;
		right:0px;
		left:auto;
		
	}
	.description {
		text-align: center;
		bottom: 30px;
	}
</style>
{% include 'bot/styles.html' %}
{% endblock styles %}

{% block content %}
<div class="description">
	<h2>{{topic.title}}</h2>
</div> 
<div class="container">
	{{topic.content}}
</div>
<div id="chatbox">
	{% include 'bot/chatbox.html' %}
</div>

<video width="320" height="240" controls autoplay>
<source src="{% static video %}" type="video/mp4">
</video>

{% endblock content %}
{% block script %}
{% include 'bot/scripts.html' %}
{% endblock script %}
